.hero-container {
    position: relative;
    height: 100vh; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    overflow: hidden;
  }
  
  .hero-content {
    position: relative;
    z-index: 10; 
    text-align: center;
    pointer-events: none;
    pointer-events: auto; 
  }

  .hero-container h1 {
    font-size: 4rem;
    z-index: 10;
    color: #004B7B; 
  }
  
  h1 {
    font-size: clamp(3rem, 8vw, 5rem); 
    font-weight: 800;
    margin-bottom: 0.5rem;
    color: #004B7B; 
    letter-spacing: -1px;
    
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    color: #6a86bd;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }
    
    .hero-subtitle {
      font-size: 1.1rem;
    }
  }