.wave-3d-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw; 
    height: 50vh; 
    z-index: 1;
    overflow: hidden;
  }
  
  .wave-wrapper {
    width: 100%;
    height: 100%;
  }