.wave-3d-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw; 
  height: 40vh; 
  z-index: 1;
  overflow: hidden;
}

.wave-wrapper {
  width: 100% !important;
  height: 100% !important;
  transform: scale(1.05);
  transform-origin: center;
}


canvas {
  transform: scale(1.1);
}